---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from "../components/H1.astro"
import Main from "../components/Main.astro"

// Statically-rendered, vs SSR
export const prerender = true
---

<Layout title="Rythm Nation Blog">
	<Main>
		<H1 text="Rythm Nation" />
	</Main>
</Layout>